.title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #B1DFD8;
    text-shadow: 4px 4px 0px #000;
}

.title.-second{
    color: #3a4042;
    text-shadow: none;
    text-align: center;
}